/*=============
 Custom Var.
 ============== */
:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-gryblue: hsl(210, 10%, 33%);
    --gry-blue: hsl(201, 11%, 66%);
}
/*============
 Base Styles
 ============== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: purple;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4 {
    margin-top: 0;
}


/*=======================
 Layout Containers 
 =======================*/

/* =======================
Mobile Styles
=========================*/

/* =======================
Desktop Styles
=========================*/