/*=============
 Custom Var.
 ============== */
 :root {
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
    --dark-gryblue: hsl(210, 10%, 33%);
    --gry-blue: hsl(201, 11%, 66%);
}
/*============
 Base Styles
 ============== */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--dark-gryblue);
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
 
}

h1, h2, h3, h4 {
    margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--dark-gryblue);
}

/*=======================
 Layout Containers 
 =======================*/
.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* =======================
Mobile Styles
=========================*/
.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.459), rgba(255, 255, 255, 0.74)), url(/../images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    width: 100%;
    
}

.hero h1 {
    margin-bottom: 20px;
}

.hero img {
    margin-bottom: 80px;
}



.accessClipboard p {
    max-width: 600px;
}
.superCharge p {
    max-width: 600px;
}
.keepTrack p {
    max-width: 600px;
}
.bottomButtons p {
    max-width: 600px;
}
.hero p {
    max-width: 600px;
    margin: 10px auto 40px;
}

/* =================================== */
/*Button Styles
=====================================  */
.topButtons, .botButtons {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

button {
    color: white;
    font-weight: 600;
    font-size: 18px;
    border-radius: 34px;
    padding: 15px 30px;
    width: 320px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.1);  
    border: none;
}
button:hover {
    cursor: pointer;
}

.topButtons {
    margin-bottom: 150px;
}

.iosButton {
    background: var(--strong-cyan);
    border-bottom: 2px solid hsl(171, 66%, 37%);
}
.iosButton:hover {
    background: hsl(171, 73%, 53%);
}
.macButton {
    background: var(--light-blue);
    border-bottom: 2px solid hsl(233, 98%, 66%);
}
.macButton:hover {
    background: hsl(233, 96%, 72%);
}

/*===============
 Text Layout
 ================ */

.keepTrack h1 {
    margin-bottom: 20px;
}

.keepTrack p {
    margin-bottom: 70px;
}
.topImg img {
    height: 236px;
    width: auto;
    margin-bottom: 50px;
}
.bottomImgContainer img {
    height: 236px;
    width: auto;
}
.colContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    margin-bottom: 150px;
}

/*Column Text  */
.colItem {
    max-width: 400px;
    margin-bottom: 50px;
}

.accessClipboard {
    margin-bottom: 70px;
}

.accessClipboard h1 {
    margin-bottom: 20px;
}

.bottomImgContainer {
    margin-bottom: 130px;
}

/*Row Text */
.rowContainer {
    margin-bottom: 150px;
}

.rowItem { 
    max-width: 400px;
    margin-bottom: 70px;
}

.rowItem img {
    margin-bottom: 40px;
}

.rowItem h2 {
    margin-bottom: 30px;
}

.superCharge h1 {
    margin-bottom: 20px;
}

.superCharge p {
    margin-bottom: 100px;
}

/*Logos Container*/
.logosContainer {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-around;
    margin-bottom: 200px;
}

.bottomButtons {
    margin-bottom: 200px;
}

.bottomButtons h1 {
    margin-bottom: 20px;
}

.bottomButtons p {
    margin-bottom: 50px;
}

/*Footer  */
.mainfooter {
    background: rgb(243, 240, 240);
    padding: 50px;
    height: 500px;
    width: 100%;
}

.footerLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

footer a:hover {
    color: var(--strong-cyan);
}

footer img {
    height: 57px;
    width: auto;
    margin-bottom: 30px;
}

.socialIcons  {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}

.socialIcons .icon {
    margin: 0 15px;
}

/* =======================
Desktop Styles
=========================*/
@media screen and (min-width: 886px){
/* Hero Desktop */
.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.459), rgba(255, 255, 255, 0.74)), url(/../images/bg-header-desktop.png);
    background-size: cover;
    width: 100%;
}
/* Desktop Layout */
button {
    margin-left: 20px;
}
.topButtons, .botButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}
.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  .colImgContainer {
    display: flex;
    flex-direction: row;
}
  .colContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
}
/*IMGs   */
.topImg img {
    height: 500px;
}
.bottomImgContainer img {
    height: 500px;
}

/* Adjust bottom text position */
.bottomButtons p {
    margin: 20px auto 50px;
}
  .logosContainer {
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    height: 50px;
    width: 100%;
  }

/* FOOOTER */
  .mainfooter  { 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    padding: 50px;
  }
  
  .footerLinks {
    display: flex;
    width: 684px;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px 123px; 
    margin-bottom: 0px;
  }

  #marginFix {
    margin-left: 49px;
  }
}