@use '../variables' as *;

// FEATURES SECTION

.features {
    padding: 70px 160px;
    h2 {
        text-align: center;
    }
}

.features > p {
    margin-bottom: 75px;
}

.features .card-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap: 80px 30px;
    text-align: center;
}

.card-group {
    place-self: center;
}

.features .card {
    max-width:  350px;
    justify-self: center;
}

.features .card .card-head {
    height: 75px;
}

.features .card .card-body h3 {
    margin-bottom:  20px; 
}

.features .card .card-body p {
    font-size:  16px;
    line-height: 2;
}

@media screen and (max-width: 567px){
    .features__h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 692px){
    .features {
        padding: 70px 30px;
    }

    .features .card-group {
        grid-template-columns: 1fr;
        grid-gap: 60px 30px;
    }

    .features {
        font-size: 28px;
    }
}

@media screen and (max-width: 796px){   
    .features .card-group {
        grid-template-columns: 1fr;
        grid-gap: 60px 30px;
    }
}