@use '../variables' as *;

// FOOTER SECTION
footer {
    padding: 45px 160px;
    background: hsl(220, 18%, 97%);
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);
}

footer .footer__img {
    width: 55px;
}


footer .links {
    max-width:  600px;
    display: grid; 
    grid-template-columns: repeat(3, minmax(120px, 120px));
    grid-gap: 20px 70px;
}

footer .links a {
    font-size: 18px; 
    font-weight: 500px;
    color: $dark-grayish-blue;
}

footer .links a:hover,
.social-links a:hover {
    color: cyan;
}

footer .links a:focus,
.social-link a.focus {
    outline: 3px dotted #0005;
    outline-offset: 5px;
}


.social-links {
    place-self: center flex-end;
}

.social-links a {
    font-size: 27px;
    color: $dark-grayish-blue;
}

.social-links a:not(:last-child){
    margin-right: 20px;
}

@media screen and (max-width: 992px){
    footer .links {
        grid-template-columns: repeat(2, minmax(120px, 120px));
        grid-gap: 20px 40px;
    }
}

@media screen and (max-width: 768px){
    footer {
        grid-template-columns: 1fr;
        place-items: center;
        grid-gap: 50px 0;
    }

    footer .links{
        max-width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 30px 40px;
        text-align: center;
    }

    .social-links{
        place-self: center;
    }

    .social-links a:not(:last-child){
        margin-right: 35px;
    }
}

@media screen and (max-width: 576px){
    footer .links {
        grid-template-columns: 1fr;
        place-items: center;
    }


}

@media screen and (max-width: 493px){
    footer {
        padding: 70px 30px;
        
    }
}