@use '../variables' as *;

header {
    background: url('/images/bg-header-desktop.png') no-repeat;
    background-size: contain;
    padding: 130px 160px 75px;
}

.header__logo-img {
    display: block;
    margin: auto;
    margin-bottom: 55px;
}

:is(header, .about, .access, .features, .download) > p {
    max-width: 690px;
    margin: auto;
    text-align: center;
}

header > p {
    font-size: 20px;
    margin-bottom: 50px !important;
    line-height: 1.5;
}

.btn-container {
    text-align: center;
    
}

.btn-container .btn {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    padding: 15px 35px;
    border-radius: 10rem;
    border-bottom: 4px solid;
    color: white;
    border: none;
}

.btn-container .btn-primary {
    background: $strong-cyan;
    margin-right: 10px;
    border-color: $strong-cyan;
    box-shadow: 0 10px 30px -5px rgb(151, 187, 199);
}

.btn-container .btn-secondary {
    background: $light-blue;
    border-color: $light-blue;
    box-shadow: 0 10px 30px -5px rgb(151, 187, 199);
}

.btn-container .btn:hover {
    opacity: 0.9;
}

.btn-container .btn:focus {
    outline: 3px dotted #0005;
    outline-offset: 5px;
}