*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Bai Jamjuree", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1, h2, h3 {
  font-size: 28px;
  color: hsl(213deg, 6%, 34%);
}

h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 45px;
}

h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 18px;
  color: hsl(201deg, 11%, 66%);
}

a {
  transition: 0.25s ease;
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

header {
  background: url("/images/bg-header-desktop.png") no-repeat;
  background-size: contain;
  padding: 130px 160px 75px;
}

.header__logo-img {
  display: block;
  margin: auto;
  margin-bottom: 55px;
}

:is(header, .about, .access, .features, .download) > p {
  max-width: 690px;
  margin: auto;
  text-align: center;
}

header > p {
  font-size: 20px;
  margin-bottom: 50px !important;
  line-height: 1.5;
}

.btn-container {
  text-align: center;
}

.btn-container .btn {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  padding: 15px 35px;
  border-radius: 10rem;
  border-bottom: 4px solid;
  color: white;
  border: none;
}

.btn-container .btn-primary {
  background: hsl(171deg, 66%, 44%);
  margin-right: 10px;
  border-color: hsl(171deg, 66%, 44%);
  box-shadow: 0 10px 30px -5px rgb(151, 187, 199);
}

.btn-container .btn-secondary {
  background: hsl(233deg, 100%, 69%);
  border-color: hsl(233deg, 100%, 69%);
  box-shadow: 0 10px 30px -5px rgb(151, 187, 199);
}

.btn-container .btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.btn-container .btn:focus {
  outline: 3px dotted rgba(0, 0, 0, 0.3333333333);
  outline-offset: 5px;
}

@media screen and (max-width: 805px) {
  .btn-container .btn-primary {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .btn-container .btn {
    padding: 15px 65px;
  }
}
@media screen and (max-width: 576px) {
  header {
    background: url(/images/bg-header-mobile.png) no-repeat;
    background-size: 100%;
    padding: 130px 30px 75px;
  }

  .header__h1 {
    font-size: 28px;
  }
}
.about {
  padding: 75px 0;
}
.about h2 {
  text-align: center;
}

.about > p {
  margin-bottom: 75px;
}

.about__inner {
  display: flex;
}

.about__inner .img-box {
  width: 50%;
  overflow: hidden;
}

.about__inner .img-box img {
  display: block;
  width: 105%;
  height: auto;
  transform: translateX(-5%);
}

.about__inner .card-group {
  width: 50%;
  padding: 70px 110px;
}

.about__inner .card-group .card:not(:last-child) {
  margin-bottom: 55px;
}

.about__inner .card-group .card h3 {
  margin-bottom: 10px;
}

.about__inner .card-group .card p {
  max-width: 350px;
  font-size: 18px;
  line-height: 2;
}

@media screen and (max-width: 1200px) {
  .about {
    padding: 75px 30px;
  }

  .about__inner {
    flex-direction: column;
  }

  .about__inner .img-box {
    width: 100%;
  }

  .about__inner .img-box img {
    width: 80%;
    margin: auto;
    transform: translateX(0);
  }

  .about__inner .card-group {
    width: 100%;
    padding: 70px 0 0;
    text-align: center;
  }

  .about__inner .card-group .card p {
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .about__inner .img-box img {
    width: 100%;
  }

  .about__inner .card-group .card p {
    line-height: 1.5;
  }

  .about__h2 {
    font-size: 28px;
  }
}
.access {
  padding: 75px 30px 0;
  margin-bottom: 80px;
}
.access h2 {
  text-align: center;
}
.access p {
  margin-bottom: 100px;
  line-height: 2;
}
.access img {
  display: block;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .access img {
    width: 80%;
  }
}
@media screen and (max-width: 576px) {
  .access p {
    margin-bottom: 60px;
  }

  .access img {
    width: 100%;
    height: 100%;
  }

  .access__h2 {
    font-size: 28px;
  }
}
.features {
  padding: 70px 160px;
}
.features h2 {
  text-align: center;
}

.features > p {
  margin-bottom: 75px;
}

.features .card-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 80px 30px;
  text-align: center;
}

.card-group {
  place-self: center;
}

.features .card {
  max-width: 350px;
  justify-self: center;
}

.features .card .card-head {
  height: 75px;
}

.features .card .card-body h3 {
  margin-bottom: 20px;
}

.features .card .card-body p {
  font-size: 16px;
  line-height: 2;
}

@media screen and (max-width: 692px) {
  .features {
    padding: 70px 30px;
  }

  .features .card-group {
    grid-template-columns: 1fr;
    grid-gap: 60px 30px;
  }

  .features {
    font-size: 28px;
  }
}
@media screen and (max-width: 796px) {
  .features .card-group {
    grid-template-columns: 1fr;
    grid-gap: 60px 30px;
  }
}
.clients {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 80px 100px;
  padding: 85px 160px 160px;
}

.clients img {
  place-self: center;
}

@media screen and (max-width: 576px) {
  .clients {
    grid-gap: 60px 100px;
    padding: 85px 30px 160px;
  }
}
.download {
  padding: 70px 160px 150px;
  text-align: center;
}

.download > p {
  margin-bottom: 50px;
}

@media screen and (max-width: 567px) {
  .download {
    padding: 70px 30px 160px;
  }
}
footer {
  padding: 45px 160px;
  background: hsl(220deg, 18%, 97%);
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 4fr minmax(170px, 1fr);
}

footer .footer__img {
  width: 55px;
}

footer .links {
  max-width: 600px;
  display: grid;
  grid-template-columns: repeat(3, minmax(120px, 120px));
  grid-gap: 20px 70px;
}

footer .links a {
  font-size: 18px;
  font-weight: 500px;
  color: hsl(210deg, 10%, 33%);
}

footer .links a:hover,
.social-links a:hover {
  color: cyan;
}

footer .links a:focus,
.social-link a.focus {
  outline: 3px dotted rgba(0, 0, 0, 0.3333333333);
  outline-offset: 5px;
}

.social-links {
  place-self: center flex-end;
}

.social-links a {
  font-size: 27px;
  color: hsl(210deg, 10%, 33%);
}

.social-links a:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 992px) {
  footer .links {
    grid-template-columns: repeat(2, minmax(120px, 120px));
    grid-gap: 20px 40px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    grid-template-columns: 1fr;
    place-items: center;
    grid-gap: 50px 0;
  }

  footer .links {
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 30px 40px;
    text-align: center;
  }

  .social-links {
    place-self: center;
  }

  .social-links a:not(:last-child) {
    margin-right: 35px;
  }
}
@media screen and (max-width: 576px) {
  footer .links {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
@media screen and (max-width: 493px) {
  footer {
    padding: 70px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
